.pytest_cache
*egg-info
dist
.DS_STORE
__pycache__

# Collected projects
santa-tracker
plaid
uamp
iosched
sunflower
k9mail
protonmail
wire
duckduckgo
signal
corona-warn-app
immuni-app
freeotp
haven
mozilla-lockwise
wireguard

